# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/hw01_Treap_java/nbproject/private/
/hw01_Treap_java/build/
/hw02_AVL-Tree_java/nbproject/private/
/hw02_AVL-Tree_java/build/
/hw02_AVL-Tree_java/dist/
/hw03_SkewHeap_java/nbproject/private/
/hw03_SkewHeap_java/build/
/hw04_HashMap_java/nbproject/private/
/hw04_HashMap_java/build/
/hw05_IntervalTree_java/nbproject/private/
/hw05_IntervalTree_java/build/
/hw05_IntervalTree_java/dist/
/hw06_PersistentVector_java/nbproject/private/
/hw06_PersistentVector_java/build/
/PatriciaTree/nbproject/private/
/PatriciaTree/build/
/hw06_PersistentVector_java/dist/
/hw08_SuffixArray_java/nbproject/private/
/hw10_BinomialHeap_java/nbproject/private/
/hw10_BinomialHeap_java/build/